// variables.scss
$darkCharcoal: #1a1d21;
$somehowLightAndDarkAtTheSameTimeBlue: #354463;


// Colors
$LG-White: #FFFFFF;
$LG-LightGrey: #F4F5FA;
$LG-Grey: #D2D2D2;
$LG-DarkGrey: #443737;
$LG-Tan: #D2CBC6;
$LG-LightGreen: #30903A;
$LG-DarkGreen: #2C4E2D;

$LG-AccentGreen-1: #24bbb5;
$LG-AccentGreen-2: #30903A;
$LG-AccentBlue-1: #BCE0FD;
$LG-AccentBlue-2: #2699FB;

